* {
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: white;
    font-family: Montserrat, sans-serif;
}

.container {
    background-color: transparent;
    height: 800px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    color: #2B2B2B;
    text-align: center;
}

header {
    background-color: #2B2B2B;
    color: white;
    padding-left: 200px;
    padding-top: 30px;
    text-align: left;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    letter-spacing: normal;
    height: 150px;
}

.title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #838484;
}

nav {
    padding-left: 200px;
    font-family: "montserrat", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: left;
    background-color: rgba(43, 43, 43, 0.83);
    padding-top: 20px;
    padding-bottom: 20px;
}

.header2 {
    position: absolute;
    right: 200px;
    top: 30px;
    font-family: "montserrat", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    color: white;
    text-decoration: none;
    padding-right: 20px;
}

a:hover {
    color: #838484;
}

h1 {
    font-family: 'Montserrat', serif;
    font-weight: normal;
    font-size: 30px;
    color: #2B2B2B;
}

.education {
    background-color: #E2E2E2;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    font-size: 18px;
    font-weight: lighter;
    height: auto;
}

.experience {
    background-color: white;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    font-size: 18px;
    height: auto;
}

table {
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
    border: 0;
    color: #2B2B2B;
}

.right {
    width: 200px;
    text-align: right;
}

.skills {
    background-color: #E2E2E2;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    font-size: 18px;
    height: auto;
}

footer {
    background-color: #2B2B2B;
    color: white;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'montserrat', sans-serif;
    height: 50px;
}

.intro {
    font-weight: bold;
    padding-bottom: 10px;
}

.link {
    color: #2B2B2B;
    font-weight: bold;
}